.faq-toggle {
    color: #C1F6FF;
    width: 40px;
    height: 40px;
    border: 0;
    font-size: 1em;
    background-color: transparent;
    position: relative;
  }
  
.faq-toggle span {
    position: absolute;
    transition: 300ms;
    background: #C1F6FF;
    border-radius: 2px;
  }
  
  /* Create the "+" shape by positioning the spans absolutely */
  .faq-toggle span:first-child {
    top: 25%;
    bottom: 25%;
    width: 10%;
    left: 45%;
  }
  
  .faq-toggle span:last-child {
    left: 25%;
    right: 25%;
    height: 10%;
    top: 45%;
  }
  
  .faq-toggle .expanded {
    transform: rotate(90deg);
  }
  .faq-toggle .expanded:last-child {
    left: 50%;
    right: 50%;
  }
  
.faq-toggle .highlight {
    background: #6DCDDD;
}